Test <mat-slider min="1" max="100" step="1" value="1"></mat-slider>

<div style="display: block">
  <canvas
    baseChart
    [data]="pieChartData"
    [labels]="pieChartLabels"
    [chartType]="pieChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"
  ></canvas>
</div>

<form [formGroup]="myForm">
  <div *ngFor="let data of stats">
    <input
      type="checkbox"
      (change)="onChange(data.stat, $event.target.checked)"
    />
    {{ data.stat }}<br />
  </div>
</form>

<pre>Form values: {{ myForm.value | json }}</pre>
