<div style="display: block">
  <p>General Statistics</p>
  <canvas
    baseChart
    [data]="pieChartData"
    [labels]="pieChartLabels"
    [chartType]="pieChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"
  >
  </canvas>

  <form [formGroup]="myForm">
    <div *ngFor="let data of stats">
      <input
        type="checkbox"
        (change)="onChange(data.stat, $event.target.checked)"
      />
      {{ data.stat }}<br />
    </div>
  </form>
</div>

<div style="display: block">
  <p>Stats per state</p>
  <canvas
    baseChart
    [data]="statesDataRes"
    [labels]="statesLabels"
    [chartType]="'bar'"
  >
  </canvas>
</div>
